<!-- <ul>
  <li>
    Player Info
    <ul>
      <li><a href="/client/players?sort_by=points">
      Points Scored- Highest to Lowest</a></li>
      <li><a href="/client/players?sort_by=points&&sort_order=desc">
      Points Scored - Lowest to Highest
      </a></li>
      <li><a href="/client/players?sort_by=name">Name - A to Z</a></li>
      <li><a href="/client/players?sort_by=name&&sort_order=desc">Name - Z to A</a></li>
    </ul>
  </li>
  <li>
    Teams
    <ul>
      <li><a href="/client/teams">Team Names</a></li>
    </ul>
  </li>
</ul> -->
<%= @players %>